body {
    background-color: var(--s-accent-1);
}

.diagonal,
.diagonal::after {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    clip-path: polygon(0 0%, 100% 0, 100% 30%, 0 100%);
    z-index: -1;
}

.diagonal::after {
    content: '';
    background-color: var(--s-pm-1);
    opacity: 0.8;
}

.diagonal {
    background-image: url("../../../public/assests/landingPage/background.png");
    background-size: auto 100%;
}

.grid-h {
    padding-inline: 6rem;
    color: var(--s-accent-1);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "left right";
    font-size: 2rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.grid-l {
    grid-area: left;
}

.grid-r {
    grid-area: right;
}

.grid-l h1 {
    margin-block-end: 0;
}

.grid-l p {
    font-size: 1.5rem;
    width: 55%;
    margin-block-end: 3rem;
}

.about-us {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.grid-l button {
    background-color: var(--s-pm-2);
    color: var(--s-accent-1);
    font-size: 1.3rem;
    border: none;
    outline: none;
    padding: 0.8rem 2rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.grid-r img {
    margin-block-start: 2rem;
    height: 80%;
}

.grid-r .about-us-info {
    color: var(--s-oth);
    font-weight: 900;
    width: 80%;
}

.about-us-img {
    background-color: var(--s-pm-1);
    border-radius: 3rem 0 3rem 3rem;
    height: 70%;
    padding: 0 0 3rem 3rem;
}

.about-us-img img {
    height: 100%;
    width: auto;
}