.VideoPlayer_div {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3vw 0 0.5vw;
}

#video {
  width: 70vw;
  height: 38vw;
  border-radius: 30px;
  margin: 4vw 0 5vw 0;
}

@media screen and (max-width: 750px) {
  .VideoPlayer_div {
    margin: 5vw 0;
  }

  #video {
    width: 95vw;
    height: 55vw;
    margin: 3vw 0 5vw 0;
    border-radius: 20px;
  }
}
