@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --s-accent-1: #eeeeee;
    --s-pm-1: #1B3061;
    --s-pm-2: #0081EB;
    --s-sc-1: #EB8F3B;
    --s-sc-2: #000000;
    --s-oth: #5D402B;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}